.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.env
*.log

# Configurator
configurator/node_modules/
configurator/dist/
configurator/src-tauri/target/
configurator/src-tauri/gen/
.DS_Store
src/.DS_Store
